.csv,
.markdown table {
    width: 100%;
}

.markdown table {
    margin-bottom: 10px
}

.csv,
.csv tbody,
.csv tr,
.csv th,
.csv td,
.markdown table,
.markdown tbody,
.markdown tr,
.markdown th,
.markdown td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.csv tr:hover,
.markdown tr:hover {
    background-color: #edf2f7;
}

.markdown pre,
.markdown code {
    font-family: 'Inter' !important;
}

.markdown ul > li {
    list-style: inside;
    list-style-type: disc;
}
